@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: grey;
}

.table-container {
  margin: 1em;
}

.table-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.75em;
  border: 1px solid lightgrey;
}

.header {
  color: #fff;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.pagination {
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
}
