
.loading-spinner {
    display: block;
    margin: 0 auto;
  }
  
.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 3em;
  }
  
  .card {
    max-width: 600px;
    margin: auto;
    height: 100%;
  }
  
  .limited-content {
    height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .small-typography {
    font-size: 0.60rem;
  }
  
  @media (max-width: 600px) {
    .small-typography {
      font-size: 0.60rem;
    }
  }
  

  .custom-button {
    width: 100vw;
    padding: 8px 16px; 
    font-size: 0.85rem;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F76902;
    color: #fff; 
  }

  .custom-button:hover{
    background-color: #000000; 
  }
  
  .card-actions {
    display: flex;
    justify-content: center;
  }
  
  .bold-typography {
    font-weight: bold;
  }
  
  .dialog-title {
    font-weight: bold;
  }
  
  .dialog-content {
    padding-bottom: 16px;
  }
  
  .dialog-action-button {
    margin-top: 16px;
  }
  