@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.head {
    background-color: #111;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/golisano.jpg');
}

.head h2 {
    font-size: 120px;
    font-family: 'Playfair Display', serif; /* Change font family */
    margin-bottom: 0.8rem;
    color: #F76902;
    text-align: center; 
}


.head p {
    text-align: center;
    color: rgb(240, 253, 246);
    letter-spacing: 1px;
}

.rit{
    color: #F76902;
}

@media screen and (max-width: 768px) {
    .head h2 {
        font-size: 60px;
    }

    .head p {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) {
    .head h2 {
        font-size: 80px;
    }

    .head p {
        font-size: 1em;
    }
}
